body{
    margin: 20px;
    border-radius: 3%;
    background-color: blue;

}

#titleblog{
    text-align: center;
}

.container{
    background-color: aquamarine;
    border-radius: 2px 2px 2px 2px;
}